<nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav">
        <li class="active">
            <a href="/#"><i class="fa fa-home"></i> <span class="name">Principal</span></a>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#forms-collapse">
                <i class="fa fa-edit"></i>
                <span class="name">Cadastros</span>
            </a>
            <ul id="forms-collapse" class="panel-collapse collapse">
                <li><a href="#student">Estudantes</a></li>
                <li><a href="form_article.html">Teste</a></li>
                <li><a href="form_elements.html">Teste1</a></li>
                <li><a href="form_validation.html">Teste2</a></li>
                <li><a href="form_wizard.html">Teste3</a></li>
            </ul>
        </li>
    </ul>
</nav>